body {
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 50px;
  background-color: #f5f5f5;
  color: #333;
  min-height: 100vh;
}

h1 {
  margin-bottom: 20px;
}

#domain, #question {
  font-size: 1.8em;
  margin: 20px 0;
}

button {
  font-size: 1.1em;
  padding: 10px 20px;
  margin: 8px;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: #2196f3;
  color: white;
  transition: 0.2s;
  display: block;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #1976d2;
}

.info {
  margin-top: 15px;
  font-size: 1.2em;
  font-weight: bold;
}

#questionImage {
  display: block;     /* 블록 요소로 변경 */
  margin: 10px auto;  /* 좌우 자동 중앙 */
  max-width: 300px;   /* 최대 크기 지정 */
  height: auto;
}

